<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>App Cursos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="home">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Comprar cursos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="mis-cursos">
            <ion-icon slot="start" name="book"></ion-icon>
            <ion-label>Mis cursos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="gestion-cursos-propios">
            <ion-icon slot="start" name="construct"></ion-icon>
            <ion-label>Gestionar mis cursos</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
